@font-face {
    font-family: ver;
    src: url(Varien.ttf);
}
@font-face {
    font-family: jour;
    src: url(journey.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    width: 100%;
    font-family: ver;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rbga(0,0,0,0.2);
    z-index: 1000;
    height: 70px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 50px;
    height: 55px;
    object-fit: fill;
}
.brand{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.nav-center{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-center a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 15px;
    transition: 0.2s;
}

.nav-center a:hover{
    color: #ff6b6b;
}

.btn-book{
    background: #ff6b6b;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.2s;
}
.btn-boob:hover{
    background: #ff8a8a;
}

.hero{
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.45);
}
.hero-content{
    position: absolute;
}