*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    width: 100%;
    background: #0A0A0A;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    background: transparent;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    
}
.logo img{
    height: 40px;
   margin-left: 20px;
   width: 50px;
   
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.8px;
    opacity: 0.9;
    transition: 0.3s ease;
}
.nav-link a:hover{
    opacity: 1;
}

.btn{
    padding: 10px 20px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    font-weight: 400;
}
.btn:hover{
    background: #ffffff;
    color: #000;
}
.btn:active{
    transform: scale(0.92);
    opacity: 0.8;
}

